Bài 5.1:

In [ ]:
import sqlite3

# Tạo và kết nối tới cơ sở dữ liệu SQLite (tạo mới nếu chưa có)
conn = sqlite3.connect("example.db")

# Tạo con trỏ
cursor = conn.cursor()

# Lấy version của SQLite
cursor.execute("SELECT sqlite_version();")

# In ra version
version = cursor.fetchone()
print("SQLite version:", version[0])

# Đóng kết nối
conn.close()

SQLite version: 3.45.3

Bài 5.2:

In [2]:
import sqlite3

# Tạo kết nối tới CSDL SQLite trong bộ nhớ
conn = sqlite3.connect(":memory:")

# Tạo con trỏ
cursor = conn.cursor()

print("Đã kết nối tới cơ sở dữ liệu SQLite trong bộ nhớ")

# Đóng kết nối
conn.close()

Đã kết nối tới cơ sở dữ liệu SQLite trong bộ nhớ

Bài 5.3:

In [ ]:
import sqlite3
# Tạo và kết nối tới cơ sở dữ liệu SQLite
conn = sqlite3.connect("student.db")

# Tạo con trỏ
cursor = conn.cursor()

# Tạo bảng Student
cursor.execute("""
CREATE TABLE IF NOT EXISTS Student (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

print("Tạo cơ sở dữ liệu và bảng Student thành công")

# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

Tạo cơ sở dữ liệu và bảng Student thành công

Bài 5.4:

In [4]:
import sqlite3

# Kết nối tới cơ sở dữ liệu SQLite đã có
conn = sqlite3.connect("student.db")

# Tạo con trỏ
cursor = conn.cursor()

# Truy vấn liệt kê các bảng
cursor.execute("""
SELECT name FROM sqlite_master
WHERE type='table';
""")

# In ra danh sách các bảng
tables = cursor.fetchall()
print("Danh sách các bảng trong CSDL:")
for table in tables:
    print(table[0])

# Đóng kết nối
conn.close()

Danh sách các bảng trong CSDL:
Student

Bài 5.5:

In [ ]:
import sqlite3
import pandas as pd

# Kết nối SQLite
conn = sqlite3.connect("student.db")

# Tạo DataFrame dữ liệu mẫu
df = pd.DataFrame({
    "name": ["An", "Binh", "Chi"],
    "age": [20, 21, 22]
})

# Ghi DataFrame vào bảng SQLite
df.to_sql(
    name="Student",
    con=conn,
    if_exists="replace",
    index=False
)

# Đọc tất cả dữ liệu từ bảng
result = pd.read_sql("SELECT * FROM Student", conn)

# Hiển thị các bản ghi
print(result)

# Đóng kết nối
conn.close()

   name  age
0    An   20
1  Binh   21
2   Chi   22

Bài 5.6:

In [6]:
import sqlite3
import pandas as pd

# Kết nối tới CSDL SQLite
conn = sqlite3.connect("student.db")

# Đọc dữ liệu từ bảng vào DataFrame
df = pd.read_sql("SELECT * FROM Student", conn)

# Đếm số bản ghi
count = len(df)

print("Số bản ghi trong bảng Student:", count)

# Đóng kết nối
conn.close()

Số bản ghi trong bảng Student: 3

Bài 5.7:

In [ ]:
import sqlite3
import pandas as pd

# Kết nối tới CSDL SQLite
conn = sqlite3.connect("student.db")

# Đọc dữ liệu từ bảng
df = pd.read_sql("SELECT * FROM Student", conn)

# Cập nhật toàn bộ cột age
df["age"] = df["age"] + 1

# Ghi lại DataFrame vào bảng SQLite
df.to_sql(
    name="Student",
    con=conn,
    if_exists="replace",
    index=False
)

print("Đã cập nhật toàn bộ cột age trong bảng Student")

# Đóng kết nối
conn.close()

Đã cập nhật toàn bộ cột age trong bảng Student

Bài 5.8:

In [8]:
import sqlite3

def delete_student_by_name(db_name, student_name):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    cursor.execute(
        "DELETE FROM Student WHERE name = ?",
        (student_name,)
    )

    conn.commit()
    conn.close()

# Gọi hàm
delete_student_by_name("student.db", "An")

Bài 5.9:

In [9]:
# Viết chương trình pandas hiển thị dữ liệu
import pandas as pd

# Đọc file CSV
df = pd.read_csv("region.csv")

# Hiển thị tất cả các dòng
print(df)

   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

Bài 5.10:

In [10]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("product.db")

df = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Pen", "Book", "Bag"],
    "price": [10.5, 25.0, 120.0],
    "amount": [100, 50, 20]
})

df.to_sql("product", conn, if_exists="replace", index=False)

df = pd.read_sql("SELECT * FROM product", conn)
print(df)

new_product = pd.DataFrame({
    "id": [4],
    "name": ["Notebook"],
    "price": [45.0],
    "amount": [30]
})

df = pd.concat([df, new_product], ignore_index=True)
df.to_sql("product", conn, if_exists="replace", index=False)

result = df[df["name"].str.contains("Book")]
print(result)

df.loc[df["id"] == 2, ["price", "amount"]] = [30.0, 60]
df.to_sql("product", conn, if_exists="replace", index=False)

df = df[df["id"] != 1]
df.to_sql("product", conn, if_exists="replace", index=False)

sorted_df = df.sort_values(by="price")
print(sorted_df)

sorted_df.to_sql("product", conn, if_exists="replace", index=False)
conn.close()

   id  name  price  amount
0   1   Pen   10.5     100
1   2  Book   25.0      50
2   3   Bag  120.0      20
   id  name  price  amount
1   2  Book   25.0      50
   id      name  price  amount
1   2      Book   30.0      60
3   4  Notebook   45.0      30
2   3       Bag  120.0      20

Bài 5.11:

In [11]:
import sqlite3

conn = sqlite3.connect("ql_nhan_vien.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS PHONG (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL NOT NULL,
    amount INTEGER NOT NULL
)
""")

conn.commit()

# HIỂN THỊ BẢNG PHONG
cursor.execute("SELECT id, name, price, amount FROM PHONG")
print("BẢNG PHONG:")
for row in cursor.fetchall():
    print(row)

phong_data = [
    (1, "Kế toán", 1000.0, 5),
    (2, "Nhân sự", 1200.0, 3),
    (3, "CNTT", 1500.0, 7)
]

cursor.executemany(
    "INSERT OR IGNORE INTO PHONG VALUES (?, ?, ?, ?)",
    phong_data
)

conn.commit()

cursor.execute("SELECT id, name, price, amount FROM PHONG")
print("\nSAU KHI THÊM PHÒNG:")
for row in cursor.fetchall():
    print(row)

cursor.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN (
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    tuoi INTEGER NOT NULL,
    dia_chi TEXT NOT NULL,
    luong REAL NOT NULL,
    id_phong INTEGER,
    FOREIGN KEY (id_phong) REFERENCES PHONG(id)
)
""")

conn.commit()

print("\nĐÃ TẠO BẢNG NHAN_VIEN")

nhanvien_data = [
    (1, "Nguyễn Văn A", 25, "Đà Nẵng", 8000.0, 1),
    (2, "Trần Thị B", 30, "Huế", 9000.0, 2),
    (3, "Lê Văn C", 28, "Quảng Nam", 10000.0, 3)
]

cursor.executemany(
    "INSERT OR IGNORE INTO NHAN_VIEN VALUES (?, ?, ?, ?, ?, ?)",
    nhanvien_data
)

conn.commit()

cursor.execute("SELECT * FROM NHAN_VIEN")
print("\nBẢNG NHAN_VIEN:")
for row in cursor.fetchall():
    print(row)

cursor.execute("""
SELECT NHAN_VIEN.id, ho_ten, tuoi, dia_chi, luong, PHONG.name
FROM NHAN_VIEN
JOIN PHONG ON NHAN_VIEN.id_phong = PHONG.id
""")

print("\nDANH SÁCH NHÂN VIÊN + PHÒNG:")
for row in cursor.fetchall():
    print(row)

conn.close()

BẢNG PHONG:

SAU KHI THÊM PHÒNG:
(1, 'Kế toán', 1000.0, 5)
(2, 'Nhân sự', 1200.0, 3)
(3, 'CNTT', 1500.0, 7)

ĐÃ TẠO BẢNG NHAN_VIEN

BẢNG NHAN_VIEN:
(1, 'Nguyễn Văn A', 25, 'Đà Nẵng', 8000.0, 1)
(2, 'Trần Thị B', 30, 'Huế', 9000.0, 2)
(3, 'Lê Văn C', 28, 'Quảng Nam', 10000.0, 3)

DANH SÁCH NHÂN VIÊN + PHÒNG:
(1, 'Nguyễn Văn A', 25, 'Đà Nẵng', 8000.0, 'Kế toán')
(2, 'Trần Thị B', 30, 'Huế', 9000.0, 'Nhân sự')
(3, 'Lê Văn C', 28, 'Quảng Nam', 10000.0, 'CNTT')